.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  background-image: url('https://media.istockphoto.com/id/1542598400/photo/movie-podium-background-with-movie-objects-3d-rendering.jpg?s=612x612&w=0&k=20&c=3dr9NOvLQtkUGONA4RZxMK5q2xgpr0xEDT8_363FKhc=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login-form {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 20rem;
  background-image: url('https://img.freepik.com/premium-photo/movie-podium-background-with-movie-objects-3d-rendering_651547-1445.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.login-button {
  width: 100%;
  padding: 0.5rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.login-button:hover {
  background: #2563eb;
}

h2.login-title {
    color: red;
}

.login-links {
    margin-top: 13px;
}